Django==2.0.5
django-appconf==1.0.1
django-ckeditor==5.5.0
django-image-cropping==1.1.0
django-js-asset==1.1.0
django-richtextfield==1.2.1
easy-thumbnails==2.4.1
gunicorn==19.7.1
Markdown==2.6.11
Pillow==5.1.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
pytz==2018.4
six==1.11.0
