<header id="header" class="transparent-nav">
	<div class="container">
		<div class="navbar-header">
			<!-- Logo -->
			<div class="navbar-brand">
				<a class="logo" href="/">
					<img src="/static/img/swdream.png" alt="logo">
				</a>
			</div>
			<!-- /Logo -->

			<!-- Mobile toggle -->
			<button class="navbar-toggle">
				<span></span>
			</button>
			<!-- /Mobile toggle -->
		</div>

		<!-- Navigation -->
		<nav id="nav">
			<ul class="main-menu nav navbar-nav navbar-right">
				<li><a href="/">HOME</a></li>
				<li><a href="/blog">BLOG</a></li>
				<li><a href="http://bit.ly/swdream">About Me</a></li>
			</ul>
		</nav>
		<!-- /Navigation -->
	</div>
</header>
