{% extends 'layout.html' %}
{% block body %}
	<!-- Home -->
	<div id="home" class="hero-area">

		<!-- Backgound Image -->
		<div class="bg-image bg-parallax overlay" style="background-image:url(/static/img/home-background.jpg)"></div>
		<!-- /Backgound Image -->

		<div class="home-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h1 class="white-text">Swdream</h1>
						<p class="lead white-text">Cuộc sống ngắn ngủi và có rất nhiều điểm ngoặt. Không quan trọng mình là ai, mình đến từ đâu, chỉ cần sống thật tốt những ngày mình đang sống.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- /Home -->

    {% if  latest_posts %}
	<!-- Courses -->
	<div id="courses" class="section">

		<!-- container -->
		<div class="container">

			<!-- row -->
			<div class="row">
				<div class="section-header text-center">
					<h2>Những Bài Viết Mới Nhất</h2>
				</div>
			</div>
			<!-- /row -->

			<!-- courses -->
			<div id="courses-wrapper">

				<!-- row -->
				<div class="row">

                         {% for post in latest_posts %}
           <!-- single blog -->
           <div class="col-md-4">
             <div class="single-blog">
               <div class="blog-img">
                                     <a href="post/{{ post.post_url }}">
                                         <img src="{{ post.images.url }}" alt="">
                 </a>
               </div>
                                 <h4><a href="post/{{ post.post_url }}">{{ post.title }}</a></h4>
               <div class="blog-meta">
                                         <span class="blog-meta-author">By: <a href="/">Swdream</a></span>
                 <div class="pull-right">
                                         <span><p>{{ post.pub_date }}</p></span>
                   <span class="blog-meta-comments"><a href="#"><i class="fa fa-comments"></i> 0</a></span>
                 </div>
               </div>
             </div>
           </div>
           <!-- /single blog -->
                         {% endfor %}

				</div>
				<!-- /row -->

			</div>
			<!-- /courses -->

			<div class="row">
				<div class="center-btn">
					<a class="main-button icon-button" href="/blog">Xem Thêm Các Bài Viết Khác</a>
				</div>
			</div>

		</div>
		<!-- container -->
        {% endif %}
{% endblock %}
